# Android Studio
/.idea/
/*.iml

# Build folders
.gradle/
**/build/

# Local config
local.properties

# Logs
*.log

# Android captures
/captures/
/.externalNativeBuild/

# Packaged files
*.apk
*.ap_

# Misc
.DS_Store
